body {
  margin: 0;
  height: 100%;
}

body, button, input, label, option, select, p {
  font-family: 'Barlow', 'Helvetica', 'Arial', sans-serif;
}

select, option, input {
  font-size: 1rem;
  height: 22px;
  line-height: 22px;
}

label {
  font-size: 1rem;
  font-weight: normal;
}

p {
  font-size: .75rem;
}
